:root {
  --dimension: 100px;
  --thickness: 4px;
  --color: #006c7d;
    --color2: #00acc7;
    --color3: #005462;
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
    background-color: #2e2e2e;
}

.arc {
  position: relative;
  width: var(--dimension);
  height: var(--dimension);
}

.arc:before, .arc:after {
  border-bottom: var(--thickness) solid var(--color);
  border-left: var(--thickness) solid transparent;
  border-radius: 50%;
  border-right: var(--thickness) solid var(--color);
  border-top: var(--thickness) solid var(--color);
  bottom: 0;
  box-sizing: border-box;
  content: '';
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center center;
}

.arc:before {
  animation: rotate 1s ease-in-out infinite;
  height: 100%;
  width: 100%;
}

.arc:after {
  animation: rotate 1s ease-in-out infinite reverse;
  height: 50%;
  width: 50%;
}

h1{
    font-family: sans-serif;
    color: white;
}